{% extends 'base.html.twig' %}

{% block title %}New Habitation{% endblock %}

{% block body %}
    <h1>Create new Habitation</h1>

    {{ include('habitation/_form.html.twig') }}

    <a href="{{ path('habitation_index') }}">back to list</a>
{% endblock %}
